*{
    text-align: center;
}

body{
    background-color: darkslateblue;
}

h1{
    color: white;
    margin-top: 22px;
    font-size: 50px;
}

h3{
    color: white;
    margin-top: 12px;
    font-size: 35px;
}

p{
    color: white;
    margin-top: 12px;
    font-size: 24px;
}